    body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans',
    sans-serif;
    position: relative;
    width: 1920px;
    height: 5448px;
    overflow-y: scroll;
    background-color: black;
}

h1, h2, h3, p, li, a {
    color: white;
}

.landscape {
    position: absolute;
    width: 1920px;
    height: 1200px;
    left: 0px;
    top: 0px;
}

.logo {
    position: absolute;
    width: 87px;
    height: 33px;
    left: 85px;
    top: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.info {
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    width: 105px;
    height: 25px;
    left: 787px; 
    top: 66px;
}

.about {
    position: absolute;
    width: 78px;
    height: 25px;
    left: 942px;
    top: 66px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.culture {
    position: absolute;
    width: 65px;
    height: 25px;
    top: 66px;
    right: 785px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

input {
    outline: none;
    background-color: transparent;
   
}

.search {
    position: absolute;
    right: 84px;
    top: 64px;
}


li, a {
    text-decoration: none;
    list-style: none;
}


i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.divider {
    background-color: black;
}

